<!DOCTYPE html>
<html>
<head>
  <title>Admin Traveloper</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application_admin', media: 'all' %>
  <%= javascript_include_tag 'application_admin' %>
</head>

<body class="navbar-top">

<%= react_component 'Navbar' %>

<div class="page-container">
  <div class="page-content">

    <div class="sidebar sidebar-main sidebar-fixed">
      <div class="sidebar-content">
        <div class="sidebar-user">
          <div class="category-content">
            <div class="media">
              <a href="#" class="media-left">
                <img src="" class="img-circle img-sm" alt="" />
              </a>
              <div class="media-body">
                <span class="media-heading text-semibold">Victoria Baker</span>
                <div class="text-size-mini text-muted">
                  <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                </div>
              </div>

              <div class="media-right media-middle">
                <ul class="icons-list">
                  <li>
                    <a href="#"><i class="icon-cog3"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

              <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
              <li><a href=""><i class="icon-home4"></i> <span>Dashboard</span></a></li>

            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <%= yield :admintraveloper %>
      </div>
    </div>

  </div>
</div>

</body>
</html>